<p-card header="Personas de la Empresa" styleClass="p-card-shadow p-p-3 p-mt-3">
    <p-table [columns]="cols" [value]="BP" [scrollLeft]="true" styleClass="p-datatable-gridlines p-datatable-striped"
        [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th> Nombre</th>
                <th> Apellido</th>
                <th> Email</th>
                <th> Telefono</th>
                <th> Cargo</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-business_person let-columns="columns">
            <tr>
                <td>
                    {{business_person.person.name}}
                </td>
                <td>
                    {{business_person.person.lastname}}
                </td>
                <td>
                    {{business_person.person.email}}
                </td>
                <td>
                    {{business_person.person.phone}}
                </td>
                <td>
                    {{business_person.tipo}}
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" title="Editar"
                        class="p-button-rounded p-button-warning p-mr-2" (click)="showEditarBPDialog(business_person)">
                    </button>
                    <button pButton pRipple type="button" icon="pi pi-trash" title="Eliminar"
                        class="p-button-rounded p-button-danger p-mr-2" (click)="ngOnDelete(business_person.id)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Agregar Persona" class="p-button-rounded p-button-primary p-mt-3"
        (click)="showAgregarBPDialog()"></button>
</p-card>

<p-dialog header="Agregar Persona a la empresa" [(visible)]="displayAgregarBPDialog">
    <form [formGroup]="addBPForm" (ngSubmit)="ngOnSubmit()">
        <div class="p-fluid">
            <p-message *ngIf="!addBPForm.valid" severity="error" text="Faltan Campos"></p-message>
            <div class="p-field p-mt-3">
                <p-dropdown formControlName="persons" id="persons" [options]="persons" optionValue="id"
                    optionLabel="name" placeholder="Personas">
                </p-dropdown>
            </div>
            <div class="p-field p-mt-3">
                <span class="p-float-label">
                    <input id="type" type="text" formControlName="type" pInputText>
                    <label for="type">Tipo</label>
                </span>

            </div>
            <div class="p-field">
                <p-button type="submit" label="Confirmar" icon="pi pi-check"></p-button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Editar persona de la empresa" [(visible)]="displayEditarBPDialog">
    <form [formGroup]="editarBPForm" (ngSubmit)="ngOnEdit()">
        <div class="p-fluid">
            <p-message *ngIf="!editarBPForm.valid" severity="error" text="Faltan Campos"></p-message>

            <div class="p-field p-mt-3">
                <label for="type">Tipo</label>
                <input id="type" type="text" formControlName="type" [(ngModel)]="selectedBP.tipo" pInputText>
            </div>

            <div class="p-field">
                <p-button type="submit" label="Confirmar" icon="pi pi-check"></p-button>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>