<div class="p-grid p-jc-center p-mt-4">
    <div class="p-col p-md-6 p-xl-4">
        <p-card header="Agregar Departamento" styleClass="p-card-shadow p-p-3">
            <form [formGroup]="deparmentForm" (ngSubmit)="ngOnSubmit()">
                <div class="p-grid p-formgrid p-flex-column p-fluid">
                    <div class="p-col">
                        <p-message *ngIf="!deparmentForm.valid" severity="error" text="Faltan Campos"></p-message>
                        <p-message *ngIf="message" severity="{{message.type}}" text="{{message.msg}}"></p-message>
                    </div>
                    <div class="p-col p-mt-3">
                        <span class="p-float-label">
                            <input id="nombre" type="text" formControlName="nombre" pInputText>
                            <label for="nombre">Nombre</label>
                        </span>
                    </div>
                    <div class="p-col p-mt-5">
                        <p-button type="submit" label="Confirmar" icon="pi pi-check"></p-button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>